{% extends 'product/base.html' %}

{% block Title %}
Home
{% endblock %}
{% block content %}

    <h1>Home</h1>
    <h2>Products</h2>
    {% for product in products %}

        <h3><a href=""> {{ product.name }}</a></h3>
        <h4>{{ product.price }}</h4>
        <pre>{{ product.description }}</pre>

    {% endfor %}
    <h2>Categories</h2>
    {% for category in categories %}
        <h3><a href="">{{ category.name }}</a></h3>
        <pre>{{ category.description }}</pre>
    {% endfor %}

    
{% endblock %}
